body{
    background-color: aliceblue;
    margin: 0px;
    padding: 0;
}

@media (max-width: 900px) {
    .rotary-logo, .socio-logo{
        height: 55px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    .logout-icon {
        height: 43px;
        padding-bottom: 5px;
        margin-bottom: -4px;
        padding-left: 5px;
    }

    #menu-collapse{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
        border-top: solid 0.01px rgb(91, 87, 87);
    }

    .footer-elem{
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
        border-bottom: solid 1px black; 
    }

    .edit-popup-container {
        background-color: rgb(126 192 255);
        border: solid 1px gray;
        border-radius: 10px;
    }

    .edit-popup-container label {
        font-weight: 500;
    }

    .edit-popup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        padding: 25px 5px 5px 25px;
    }

    .edit-popup-buttons {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        width: 100%;
    }

    .edit-popup-buttons button {
        margin-left: 30px;
    }
 
}

header{
    border-bottom: solid 0.01px rgb(91, 87, 87);
    width: 97%;
}

a, a:visited{
    text-decoration: none;
    color: black;
}



.head-elem{
    border-top: solid 0.01px rgb(91, 87, 87);  
    margin-top: 15px; 
    padding-top: 15px; 
    
}

.edit-option {
    display: flex;
}

.modificar-socio{
    width: 50px;
    height: 50px;
    padding: 8px;
    border-radius: 10px;
    
}

footer{
    background-color: rgb(224, 218, 218);  
}

/* 
.footer-elem{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    border-bottom: solid 1px black;  
}*/

span a, span a:visited {
    text-decoration: underline;
    color: blue;
}

.contenido{
    margin: 20px;
    padding: 25px;
    padding-bottom: 10px;
    /* min-height: calc(100vh - 72.4px - 188.6px);  */    /*para que el footer quede abajo*/
}

.alturaFooter{
    min-height: calc(100vh - 72.4px - 188.6px);    
}

.section-top{
    margin-top:80px;
}

.rotary-grupos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

.rotary-grupos p{
    padding-left: 20px;
}

.success {
    color: rgb(9, 173, 9);
    font-weight: 500;
}

.warning {
    color: red;
    font-weight: 500;
}

.hidden {
    display: none;
}

.contacto{
    display: flex;
    justify-content: space-evenly
}

.donar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tabla {
    margin-left: 10px;
    border-color: #2f0404;
    background-color: #f1f1f1;
    width: 97%;
}

.buscador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }

.pasa-pagina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px
}

.pasa-pagina img{
    padding-right: 15px;
    padding-left: 15px;
}

.pasa-pagina p{
    padding-top: 6px;
}





